---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
	<div class="tags">
		{
			tags.map((tag) => (
				<p class="tag">
					<a href={`/tags/${tag}`}>{tag}</a>
				</p>
			))
		}
	</div>
</BaseLayout>

<style>
	a {
		color: var(--theme-text);
	}

	.tags {
		display: flex;
		flex-wrap: wrap;
	}

	.tag {
		margin: 0.25em;
		border: 1px solid var(--theme-border);
		border-radius: 0;
		padding: 0.5em 1em;
		font-size: 0.9em;
		background-color: var(--theme-background-modal);
	}

	.tag:hover {
		border-color: var(--theme-focused-foreground);
	}
</style>
