---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<header>
	<nav>
		<div class="nav-left">
			<Hamburger />
		</div>
		<Navigation />
	</nav>
</header>

<style>
	header {
		margin-bottom: 2rem;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.nav-left {
		display: flex;
		align-items: center;
	}
</style>
